[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "OncoScore"]
	path = OncoScore
	url = https://github.com/danro9685/oncoscore
[submodule "RESOLVE"]
	path = RESOLVE
	url = https://github.com/danro9685/resolve
[submodule "SparseSignatures"]
	path = SparseSignatures
	url = https://github.com/danro9685/sparsesignatures
